.head{
    text-align: center;
    color: rgb(255,87,34);
    margin: 30px;
}
.body{
    color: rgb(44,44,44);
    background-color: cornsilk;
    border-radius: 10px;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.img-header{
    border-radius: 10px;
    border: 6px solid rgb(255,87,34);
    margin-top: 30px;
}
th,td{
    border: 3px solid cornsilk;
    padding: 8px;
    text-align: center;
    color: cornsilk;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}
a{
    color: rgb(255,87,34);
}
a:hover{
    font-size: 110%;
    transition: 0.4s;
}
a.normal:hover{
    font-size: 100%;
    transition: 0.4s;
}
.presentation{
    border: 6px solid rgb(255,87,34);
    border-radius: 10px;
    margin: 20px;
}
li{
    color: rgb(44,44,44);
    text-align: start;
}
.REDIRECT{
    padding: 16px;
    color: cornsilk;
    background-color: rgb(255,87,34);
    border-radius: 28px;
    transition: 0.4s;
}
.REDIRECT-gen{
    padding: 16px;
    color: black;
    background-color: cornsilk;
    border-radius: 28px;
    font-weight: bold;
    margin-bottom: 50px;
}
.REDIRECT-gen:hover{
    padding: 16px;
    border-radius: 34px;
    transition: 0.4s;
}
.mid{
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
    color: cornsilk;
}
h3{
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.link:hover{
    color:rgb(44,44,44);
    font-weight: bold;
    transition: 0.4s;
}
#nvidia:hover{
    width: 300px;
}
#amd:hover{
    width: 300px;
}
#intel:hover{
    width: 300px;
}
#nvidia{
    margin-right: 95px;
}
#amd{
    margin-right: 200px;
}
#nvidia:hover{
    border-bottom: 6px solid rgb(118,185,0);
    transition: 0.3s;
}
#amd:hover{
    border-bottom: 6px solid rgb(214, 0, 0);
    transition: 0.3s;
}
#intel:hover{
    border-bottom: 6px solid rgb(0,198,252);
    transition: 0.3s;
}
.info{
    text-align: center;
    position: fixed;
    margin-right: 285px;
    margin-top: 5px;
    color: cornsilk;
    border: 6px solid cornsilk;
    width: 230px;
    border-radius: 10px;
    padding: 10px;
}
iframe{
    position: fixed;
    bottom: 10px;
    border: 6px solid cornsilk;
    border-radius: 10px;
    width: 230px;
}
.pcpartpicker{
    position: fixed;
    bottom: 10px;
    border: 6px solid rgb(255,87,34);
    border-radius: 10px;
    width: 230px;
}
#cpu_intel{
    margin-right: 250px;
}
#cpu_intel:hover{
    border-bottom: 6px solid rgb(0,198,252);
    transition: 0.3s;
}
#ryzen:hover{
    border-bottom: 6px solid rgb(214, 0, 0);
    transition: 0.3s;
}
.king{
    margin: 0px 50px 30px;
    margin-left: 290px;
}
.part{
    margin-top: 20px;
    margin-bottom: 20px;
}
#b1{
    margin-left: 20px;
    margin-right: 20px;
}
#b2{
    margin-left: 20px;
    margin-right: 20px;
}
#b3{
    margin-left: 20px;
    margin-right: 20px;
}
#b4{
    margin-left: 20px;
    margin-right: 20px;
}
.img-info{
    border-radius: 8px;
}
.img-pc{
    width: 350px;
    border-radius: 8px;
    text-align: center;
}
.social{
    display:inline-block;
    padding:0.5em 1em;
    border:none;
    border-radius:8px;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color: cornsilk;
    text-align:center;
    transition: 0.2s;
    cursor:pointer;
    font-weight:bold;
    width: 240px;
}
.social-whatsapp{
    background-image: url(https://wallpapers.com/images/hd/whatsapp-icon-pattern-2xgv9df70fo6s9ex.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 10px;
}
.social-discord{
    background-color: #7289da;
    margin-top: 10px;
}
.social-telegram{
    margin-top: 10px;
    background-image: url(https://www.tradingonlineguida.com/wp-content/uploads/2022/10/Segnali-di-Trading-scaled.jpg);
    background-size: cover;
    background-position: center;
}
.singup{
    margin-top: 10px;
    background-color: rgb(255,87,34);
}
.immagine{
    width:1.5em;
    vertical-align:middle;
    margin-right:0.5em;
}
.part-info{
    border-radius: 8px;
    margin-bottom: 5px;
}
aside{
    text-align: center;
    color: cornsilk;
    width: 240px;
    margin-top: 20px;
    float: left;
    position: fixed;
}
.left{
    border: 6px solid cornsilk; 
    border-radius: 10px;    
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 10px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: cornsilk;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 22px;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(255,87,34);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 22px;
  }
  input:checked + .slider {
    background-color: rgb(44,44,44);
  }
  input:focus + .slider {
    box-shadow: 0 0 1px rgb(44,44,44);
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
.darkmode{
    background-color: rgb(44,44,44);
    color: cornsilk;
}

/* SING UP PAGE */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(44,44,44);
}

.container {
  padding: 40px;
  border-radius: 20px;
  border: 8px solid rgb(24,24,24);
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.container .form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.container .form.signin,
.container.signinForm .form.signup {
  display: none;
}

.container.signinForm .form.signin {
  display: flex;
}

.container .form h2 {
  color: cornsilk;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.container .form .inputBox {
  position: relative;
  width: 300px;
}

.container .form .inputBox input {
  padding: 12px 10px 12px 48px;
  border: none;
  width: 100%;
  background: rgb(24,24,24);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: cornsilk;
  font-weight: 300;
  border-radius: 25px;
  font-size: 1em;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35);
  transition: 0.5s;
  outline: none;
}

.container .form .inputBox span {
  position: absolute;
  left: 0;
  padding: 12px 10px 12px 48px;
  pointer-events: none;
  font-size: 1em;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 0.05em;
  color: cornsilk;
}

.container .form .inputBox input:valid ~ span,
.container .form .inputBox input:focus ~ span {
  color: rgb(255,87,34);
  border: 1px solid rgb(255,87,34);
  background: rgb(24,24,24);
  transform: translateX(25px) translateY(-7px);
  font-size: 0.6em;
  padding: 0 8px;
  border-radius: 10px;
  letter-spacing: 0.1em;
}

.container .form .inputBox input:valid,
.container .form .inputBox input:focus {
  border: 1px solid rgb(255,87,34);
}

.container .form .inputBox i {
  position: absolute;
  top: 15px;
  left: 16px;
  width: 25px;
  padding: 2px 0;
  padding-right: 8px;
  color: rgb(255,87,34);
  border-right: 1px solid rgb(255,87,34);
}

.container .form .inputBox input[type="submit"] {
  background: rgb(255,87,34);
  color: cornsilk;
  padding: 10px 0;
  font-weight: 500;
  cursor: pointer;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.35),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    inset 5px 5px 15px rgba(0, 0, 0, 0.35);
}

.container .form p {
  color: rgb(187, 82, 49);
  font-size: 0.75em;
  font-weight: 300;
}

.container .form p a {
  font-weight: 500;
  color: rgb(187, 82, 49);
}


/* ANIMATE CSS */
.animate__animated.animate__headShake{
    --animate-duration: 10s;
}

/* ADATTAMENTI SCHERMI TELEFONO */

@media screen and (max-width:800px){
    /* DA COMPLETARE */
}