@media only screen and (max-width: 800px){
    .about-king{
      margin-left: 70px;
    }
    .img-header{
        position: relative;
        left: 20px;
        top: 80px;
        max-width: 350px;
    }
    .redo{
        width: 350px;
    }
    .social{
      margin-top: 20px;
      margin-right: 80px;
      position: inherit;
    }
    .grid{
      margin-left: 150px;
    }
    .body-redo{
      grid-template-columns: 1fr;
    }
    .rotto{
      visibility: hidden;
    }
    aside{
      position: relative;
      right: 2000px;
    }
    #PCbuilds{
      position: relative;
      top: -600px;
    }
    .img-info{
      width: 300px;
      height: auto;
    }
    article {
      width: 80%;
      min-width: 80%;
      grid-template-columns: 1fr;
    }
    section.card {
      left: 0px;
      min-width: 100%;
      min-height: 100%;
    }
    section.card .text-content {
      width: 100%;
    }
    section.card {
      padding: 88px 36px 36px;
      flex-direction: column;
      border-radius: 24px;
      height: auto;
    }
    section.card .text-content h3 {
      max-width:calc(100% - 150px);
      font-size: 1em;
    }
    section.card .text-content p,
    section.card .text-content a {
      font-size: 14px;
    }
    section.card .visual {
      width: 100px;
      right: 16px;
      left: auto;
      border-radius: 50%;
    }
    section.card .visual img{
      width: 100%;
      height: auto;
    }
    footer{
      top: 300px;
    }
}