@media only screen and (max-width: 800px){
    .king{
        margin-left: 70px;
    }
    .img-pc{
        width: 150px;
    }
    .redo{
        width: 350px;
    }
    .body-redo{
      grid-template-columns: 1fr;
    }
    .rotto{
      visibility: hidden;
    }
    .social{
      visibility: hidden;
    }
}