@media only screen and (max-width: 800px){
    .king{
        position: relative;
        top: -800px;
        max-width: 100%;
        margin-left: 50px;
    }
    .grid{
      margin-left: 150px;
    }
    .body-redo{
      grid-template-columns: 1fr;
    }
    .rotto{
      visibility: hidden;
    }
    .social{
      visibility: hidden;
    }
    aside{
      position: relative;
      right: 2000px;
    }
    #PCbuilds{
      position: relative;
      top: -600px;
    }
    .img-info{
      width: 300px;
      height: auto;
    }
}