@media only screen and (max-width: 800px){
    .king{
      position: relative;
      left: -240px;
      max-width: 100%;
    }
    .redo{
        width: 350px;
    }
    .grid{
      margin-left: 150px;
    }
    .body-redo{
      grid-template-columns: 1fr;
    }
    .rotto{
      visibility: hidden;
    }
    .social{
      visibility: hidden;
    }
    aside{
      position: relative;
      right: 2000px;
    }
    #PCbuilds{
      position: relative;
      top: -600px;
    }
    .img-info{
      width: 300px;
      height: auto;
    }
}