.main{
    visibility: hidden;
}
@media only screen and (max-width: 800px){
    body{
        background-image: url(cibo.jpg);
        background-color: rgb(44, 44, 44);
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin: 35px 15px;
    }
    .main{
        visibility: visible;
    }
    h1{
        color: pink;
        text-shadow: 2px 3px 2px darkmagenta;
        margin: 40px;
    }
    p{
        font-weight: 500;
        text-shadow: .5px .5px .5px pink;
        color: pink;
        letter-spacing: .5px;
        border: 4px solid darkmagenta;
        padding: 20px;
        border-radius: 20px;
    }
    select{
        padding: 5px 10px;
        border-radius: 20px;
        background: pink;
        color: magenta;
        font-weight: bold;
        appearance: none;
        border: 2px solid magenta;
        margin: 25px;
        text-align: center;
    }
    button{
        padding: 10px 20px;
        border-radius: 20px;
        background: magenta;
        color: pink;
        font-size: large;
        font-weight: bold;
        border: 2px solid magenta;
        margin: 25px;
    }
    option{
        font-weight: bold;
    }
    footer{
        color: pink;
    }
}
