*{
    border-radius: 16px;
}
body{
    background-color: rgb(44,44,44);
    background: linear-gradient(
      to right,
      #211010,
      #392727,
      #211010
    );
    margin: 25px;
    text-align: center;
    color: cornsilk;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 0px;
}
h1{
    font-size: 50px;
}
p{
    font-weight: 500;
}
img{
    transition: .5s;
}
.img:hover{
  transform: scale(1.05);
  transition: .3s;
}
.head{
    text-align: center;
    margin-top: 40px;
}
.head img{
    max-width: 700px;
}
.scatola{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin-inline: 10%;
    text-align: left;
}
.scatolina{
    padding-inline: 25px;
    padding-bottom: 25px;
    transition: .5s;
    background: rgb(44, 44, 44);
    box-shadow: 1px 1px 8px 1px rgb(255,87,34);
    transition: .5s .1s;
    margin-top: 50px;
    margin-bottom: 50px;
}
.scatolina:hover{
    img{
        transform: scale(1.06);
        transition: .3s;
    }
}
.scatolina h3{
    text-align: center;
    font-size: 25px;
}
.scatolina img{
    max-width: 100%;
}

/* BTN */
.btn {
    position: relative;
    padding: 20px 30px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all .3s;
}
.btn:after {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    transition: all .3s;
}
.btn:after {
    bottom: 0px;
    right: 100%;
    background: rgb(255,87,34);
    background: rgb(255,87,34);
    opacity: .3;
    border-radius: 100%;
    visibility: hidden;
}
.btn:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.btn:hover:after{
    border-radius: 16px;
    right: 0px;
    width:100%;
    height:100%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    visibility: visible;
}
.btn:hover{
  scale: 1.05;
}
.data-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Card Swapper */
:root {
  --scrollcolor: cornsilk;
  --scrollbackground: rgb();
}
main {
  background: rgb(44, 44, 44);
  box-sizing: border-box;
  margin-inline: 10%;
  padding-bottom: 25px;
  box-shadow: 1px 1px 8px 1px rgb(255,87,34);
}
.title {
  font-size: 2.5rem;
  font-family: system-ui;
  line-height: 1.1;
  font-weight: 300;
  color: cornsilk;
  margin: 4rem auto 1rem;
  width: 85%;
  max-width: 1280px;
}
.slider {
  width: 85%;
  max-width: 1280px;
  margin: 0 auto;
}
.slider__content {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
  scrollbar-color: var(--scrollcolor) var(--scrollbackground);
}
.slider__content::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 1rem;
  background: var(--scrollbackground);
}
.slider__content::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--scrollcolor);
}
.slider__content::-webkit-scrollbar-track {
  border-radius: 1rem;
  background: var(--scrollbackground);
}
.slider__item {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 100%;
  width: 100%;
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;
  aspect-ratio: 1;
}
@media (min-width: 460px) {
  .slider__item {
    aspect-ratio: 0.6666666667;
    min-width: calc((100% / 2) - 2rem);
 }
}
@media (min-width: 940px) {
  .slider__item {
    min-width: calc((100% / 3) - 4rem);
 }
}
.slider__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.slider__info {
  position: relative;
  padding: 4rem 2rem 2rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(32, 50, 57, 0));
}
.slider__info h2 {
  color: #fff;
  font-family: system-ui;
  line-height: 1.1;
  font-weight: 300;
  font-size: 1.75rem;
  margin: 0;
}
.slider__nav {
  margin: 1rem 0 4rem;
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-content: center;
  align-items: center;
  pointer-events: none;
}
@media (min-width: 460px) {
  .slider__nav {
    justify-content: flex-end;
 }
}
.slider__nav__button {
  margin: 0;
  appearance: none;
  border: 0;
  border-radius: 2rem;
  background: #fff;
  color: #203239;
  padding: 0.5rem 1rem;
  font-size: 0.75rem;
  line-height: 1;
  pointer-events: none;
  transition: 0.2s ease-out;
  opacity: 0.25;
}
.slider__nav__button--active {
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
}




/* Styling Footer */
    .tornasu{
    background-color: rgb(33,33,33);
    padding: 20px;
    border-radius: 0px;
    text-align: center;
    }
    .tornasu h3{
    color: cornsilk;
    cursor: pointer;
    }
    footer{
    position: absolute;
    background-color: rgb(22,22,22);
    width: 100%;
    left: 0px;
    text-align: left;
    margin-top: 75px;
    border-radius: 0px;
    box-shadow: 4px 4px 20px 4px rgb(255,87,34);
    }
    
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
    .container2{
      max-width: 1170px;
      margin:auto;
      padding-top: 100px;
      padding-bottom: 100px;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
        gap: 3%;
    }
    .footer{
        background-color: #24262b;
        padding: 70px 0;
    }
    .footer-col{
       width: 20%;
       padding: 0 15px;
    }
    .footer-col h4{
        font-size: 18px;
        color: cornsilk;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }
    .footer-col h4::before{
        content: '';
        position: absolute;
        left:0;
        bottom: -10px;
        background-color: rgb(255,87,34);
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    .footer-col ul li:not(:last-child){
        margin-bottom: 10px;
    }
    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: cornsilk;
        text-decoration: none;
        font-weight: 300;
        color: cornsilk;
        display: block;
        transition: all 0.3s ease;
    }
    .footer-col ul li a:hover{
        color: cornsilk;
        padding-left: 8px;
    }
    .footer-col .social-links a{
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgb(33, 33, 33);
        margin:0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: cornsilk;
        transition: all 0.5s ease;
    }
    .footer-col .social-links a:hover{
        color: #24262b;
        background-color: cornsilk;
    }
    
    /*responsive*/
    @media(max-width: 767px){
      .footer-col{
        width: 50%;
        margin-bottom: 30px;
      }
    }
    @media(max-width: 574px){
      .footer-col{
        width: 100%;
    }
    }



/* NAV BAR */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

nav {
  transition: .3s;
  margin-inline: 10%;
}

nav:hover {
  scale: 1.01;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.logo h3{
  color: rgb(255,87,34);
}

.logo span{
  color: cornsilk;
}

.navbar {
  width: 100%;
  background-color: rgb(44, 44, 44);
  box-shadow: 2px 2px 10px 2px rgb(255,87,34);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items li a{
  transition: .3s;
  font-weight: 500; 
  position: relative;
  top: -83px;
  left: 20px;
}

.navbar .menu-items li a:hover{
  transition: .3s;
  font-weight: 500;
  color: rgb(255,87,34);
}

.navbar .menu-items {
  display: flex;
  box-shadow: 1px 1px 8px 1px rgb(255,87,34);
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: cornsilk;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  right: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  right: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: cornsilk;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  background-color: rgb(44, 44, 44);
  height: 100px;
  width: 250px;
  transform: translateX(-1000px);
  display: flex;
  flex-direction: column;
  position: relative;
  top:90px;
  transition: transform 0.5s ease-in-out;
  text-align: left;
}

.navbar .menu-items li {
  margin-bottom: 20px;
  font-weight: 500;
}

.logo {
  position: absolute;
  top: -5px;
  left: 15px;
  font-size: 1.2rem;
  color: black;
  z-index:20;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}