@media screen and (max-width: 1250px){
    .scatola{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 800px){
    .scatola{
        grid-template-columns: 1fr;
        gap: 25px;
    }
    .head img{
        width: 250px;
    }
    .btn:hover:after{
        visibility: hidden;
    }
    .scatola{
        gap: 0%;
    }
    .container2{
        padding-top:10px;
        padding-bottom:10px;
    }
    .scatolina{
        margin-bottom: 0px;
    }
    .menu-items li a:hover{
      transition: .3s;
      font-weight: 500;
      font-size: medium;
      color: cornsilk;
    }
    .navbar .menu-items{
        scale: 0.8;
        position: relative;
        top: 55px;
        right: -100px;
        letter-spacing:2px;
    }
    
}
