@media screen and (max-width: 1250px){
    .scatola{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 800px){
    .scatola{
        grid-template-columns: 1fr;
        gap: 25px;
    }
    .head img{
        width: 250px;
        position: relative;
        right: -20px;
    }
    .btn:hover:after{
        visibility: hidden;
    }
    .scatola{
        gap: 0%;
    }
    .footer{
        padding-top:0px;
        padding-bottom:0px;
    }
}
