*{
    transition: .3s;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background: rgb(44, 44, 44);
    margin: 20px 100px;
}
img{
    border-radius: 16px;
}
div.warning{
    background-color: rgba(148, 0, 0, 0.722);
    width: 100%;
    position: fixed;
    left: 0px;
    top: 75px;
    color: cornsilk;
}
div.warning h3{
    animation: offline 3s infinite alternate;
  }
.img-head{
    border: 6px solid rgb(255,87,34);
    border-radius: 16px;
    max-width: 500px;
}
.body{ 
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
}
.redo a{
    color: rgb(255,87,34);
}
.redo a:hover{
    font-size: large;
}
.redo{  
    padding:25px;
    border-radius:8px;
    background-color: rgb(33,33,33);
    box-sizing: border-box;
    text-decoration:none;
    text-align: left;
    color: cornsilk;
    text-align:center;
    font-weight:300;
    box-shadow: 0px 5px 10px 5px rgb(22,22,22);
}
h3.presentation{
    border: 6px solid rgb(255,87,34);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: cornsilk;
    padding: 10px;
    box-shadow: 0px 3px 3px 3px rgb(11,11,11);
}
.brand img:hover{
    height: 200px;
}

/* Styling Footer */
.tornasu{
    background-color: rgb(33,33,33);
    padding: 10px;
    text-align: center;
}
.tornasu h3{
    color: cornsilk;
    cursor: pointer;
}
footer{
    text-align: left;
    position: absolute;
    background-color: rgb(22,22,22);
    width: 100%;
    left: 0px;
    margin-top: 75px;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.container2{
    max-width: 1170px;
    margin:auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.row{
    display: flex;
}
.footer{
    background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 50%;
   padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: cornsilk;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: rgb(255,87,34);
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: cornsilk;
    text-decoration: none;
    font-weight: 300;
    color: cornsilk;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: cornsilk;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgb(33, 33, 33);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: cornsilk;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: cornsilk;
}

/* Styling NAV BAR */
    nav{
    height: 4.5rem;
    width: 100vw;
    background-color: #131418;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    }
    .periferiche summary{
      color: rgb(255,87,34);
      font-weight: bold;
      list-style-type: none;
    }
    .periferiche summary:hover{
      color: cornsilk;
      font-size: large;
      transition: 0.4s;
      cursor: pointer;
    }

    /*Styling logo*/
    .logo{
    padding:1vh 1vw;
    text-align: center;
    }
    .logo img {
    height: 5rem;
    width: 5rem;
    }
    
    /*Styling Links*/
    .nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    }
    .nav-links li a{
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      letter-spacing: 1px;
      margin: 0 0.7vw;
      color: rgb(255,87,34);
      transition: 0.4s;
      font-weight: bold;
    }
    .nav-links li a:hover {
      color: cornsilk;
      font-size: large;
      transition: 0.4s;
    }
    .nav-links li {
    position: relative;
    }
    .nav-links li a:hover::before{
    width: 80%;
    }
    
    /*Styling Buttons*/
    .login-button{
    color: rgb(255,87,34);
    font-weight: bold;
    background-color: transparent;
    border: 3px solid rgb(255,87,34);
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    margin-left: 2vw;
    font-size: 1rem;
    cursor: pointer;
    text-transform: none;
    }
    .login-button:hover {
    color: cornsilk;
    background-color: rgb(255,87,34);
    transition: all ease-in-out 350ms;
    }
    .join-button{
    color: cornsilk;
    background-color: cornsilk;
    border: 1.5px solid cornsilk;
    border-radius: 2em;
    padding: 0.6rem 0.8rem;
    font-size: 1rem;
    cursor: pointer;
    }
    .join-button:hover {
    color: cornsilk;
    background-color: transparent;
    border:1.5px solid cornsilk;
    transition: all ease-in-out 350ms;
    }
    
    /*Styling Hamburger Icon*/
    .hamburger div{
    width: 30px;
    height:3px;
    background: cornsilk;
    margin: 5px;
    transition: all 0.3s ease;
    }
    .hamburger{
    display: none;
    }
    .dropdown > .separator {
      height: 1px;
      width: 100%;
      margin-top: 9px;
      margin-bottom: 9px;
      background-color: #131418;
    }
    .navbar-dropdown {
      position: relative;
    }
    .navbar-dropdown .dropdown.show {
      display: block !important;
    }
    .navbar-dropdown .dropdown li a {
      color: rgb(255,87,34);
      padding: 0.25rem 1rem;
      display: block;
    }
    .navbar-dropdown .dropdown li a:hover {
      color: cornsilk;
      font-size: large;
    }
    .navbar-dropdown .dropdown {
      list-style: none;
      position: absolute;
      top: 150%;
      left: 0;
      background-color: #131418;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      min-width: 160px;
      width: auto;
      white-space: nowrap;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
      z-index: 99999;
      border-radius: 0.75rem;
      display: none;
    }
    @keyframes offline {
        15%{
            transform: translate(-5%);  
            rotate: -2deg;
        }
        30%{
            transform: translate(5%);
            rotate: 2deg;
        }
        40%{
            transform: translate(0%);
            rotate: 0deg;
        }
        50%{
            transform: translate(0%, 15px);
        }
        60%{
            transform: translate(0%, -15px);
        }
        70%{
            transform: translate(0%, 0%);
        }
    }