@media only screen and (max-width:800px){
    body{
        margin: 20px;
    }
    .body{
        display: grid;
        grid-template-columns: 1fr;
    }
    .img-head{
        max-width: 100%;

    }
    nav{
        position: fixed;
        left: 0px;
        max-width: 100%;
      }
      .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
      }
      .nav-links{
        position: fixed;
        background: #131418;
        height: 65%;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all .5s ease-out;
        pointer-events: none;
      }
      .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
      }
      .nav-links li{
        opacity: 0;
      }
      .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.1s;
      }
      .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.2s;
      }
      .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.3s;
      }
      .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.4s;
      }
      .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.5s;
      }
      .nav-links li:nth-child(6){
        transition: all 0.5s ease .6s;
        margin: 0;
      }
      .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
      }
      li.fade{
        opacity: 1;
      }
      /*Animating Hamburger Icon on Click*/
      .toggle .line1{
      transform: rotate(-45deg) translate(-5px,6px);
      }
      .toggle .line2{
      transition: all 0.7s ease;
      width:0;
      }
      .toggle .line3{
      transform: rotate(45deg) translate(-5px,-6px);
      }
      .footer{
        padding:0px;
      }
      .row{
        display: block;
      }
      .footer-col ul li a{
        width: 120%;
      }
      .footer-col .social-links{
        display: flex;
      }
      .brand div center a img{
        width: 250px;
      }
}